<h1>Listing demographic_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Acsepted values</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @demographic_types.each do |demographic_type| %>
  <tr>
    <td><%= demographic_type.name %></td>
    <td><%= demographic_type.acsepted_values %></td>
    <td><%= link_to 'Show', demographic_type %></td>
    <td><%= link_to 'Edit', edit_demographic_type_path(demographic_type) %></td>
    <td><%= link_to 'Destroy', demographic_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Demographic type', new_demographic_type_path %>
