<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @demographic_type.name %>
</p>

<p>
  <b>Acsepted values:</b>
  <%= @demographic_type.acsepted_values %>
</p>


<%= link_to 'Edit', edit_demographic_type_path(@demographic_type) %> |
<%= link_to 'Back', demographic_types_path %>
