<%content_for :error_messages do  %> 
  <%= error_messages! @question%>
<%end%> 
<%= form_for @question, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :is_default, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :is_default, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :dimension_id, :class => 'control-label' %>
    <div class="controls">
      <%=f.collection_select :dimension_id, Dimension.all, :id, :camelize_name %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                questions_path, :class => 'btn' %>
  </div>
<% end %>
