<% form_for @research do |f| -%>
  <%= content_for :research_questions do %>
    <%= f.fields_for(:questions, @questions) do |builder| %>
      <div class = "question-fields">
        <% ordinal = ordinal.nil? ? builder.object.ordinal : ordinal%>
        <%= builder.hidden_field :dimension_id %>
        <div class="form-group">
          <%= builder.label :ordinal,"Pregunta #" , :class => 'col-sm-2 control-label' %>
          <div class="col-sm-10">
            <%= builder.number_field :ordinal, :class => 'form-control', min: 1, value: ordinal  %>
          </div>
        </div>

        <div class="form-group">
          <%= builder.label :description, :class => 'col-sm-2 control-label' %>
          <div class="col-sm-10">
            <%= builder.text_field :description, :class => 'form-control' %>
          </div>
        </div>

        <div class = "form-group">
          <div class = "col-sm-12">
            <%= builder.hidden_field :_destroy %>
            <%= link_to '#', :class=> "remove_fields btn btn-danger pull-right"  do%>
              <span class="glyphicon glyphicon-trash"></span> Eliminar
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
<% end -%>
<div class="tab-pane" id="<%=@dimension.id%>_panel" >
  <%= link_to questions_research_path(id:@research.id, dimension_id:@dimension.id, format: :pdf), target: "_blank", class: "btn btn-primary", style: "margin-bottom:10px;" do %>
    <span class = "glyphicon glyphicon-print"></span> Imprimir Preguntas
  <% end %>
  <%= yield(:research_questions)%>
</div>
