<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @employee.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @employee.email %>
</p>

<p>
  <strong>Access token:</strong>
  <%= @employee.access_token %>
</p>

<p>
  <strong>Has evaluated research:</strong>
  <%= @employee.has_evaluated_research %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
