<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class = "account-field">
    <%= f.email_field :name, :autofocus => true, placeholder: "Nombre" %>
  </div>

  <div class = "account-field">
    <%= f.email_field :lastname, :autofocus => true, placeholder: "Apellido" %>
  </div>

  <div class = "account-field">
  	<%= f.password_field :password, :autocomplete => "off" %>
  	<p class = "example-field">(Leave blank if you don't want to change it)</p>
	</div>

  <div class = "account-field"><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div class = "account-field">
  	<%= f.password_field :current_password %>
  	<p class = "example-field">(we need your current password to confirm your changes)</p>
  </div>

<% end %>
