<div class="row">
	<div id = "demographic_ms_container" class="multiselect-container span4 well" style="max-height:375px">
    <h3>Variables Demograficas</h3>
    <%=f.collection_select :demographic_variable_ids, DemographicVariable.all, :id, :name, {}, {:multiple=>true,:name=>"research[demographic_variable_ids][]"}%></br>
    <%=link_to "Agregar nueva variable", new_demographic_variable_path(:layout=>false), :class=>"new_setting_link" %>
	</div>	

  <div id = "dimension_ms_container" class="multiselect-container span4 well" style="max-height:375px">
    <h3>Dimensiones</h3>
    <%=f.collection_select :dimension_ids, Dimension.all, :id, :name, {}, {:multiple=>true,:name=>"research[dimension_ids][]"}%></br>
    <%=link_to "Agregar nueva variable", new_dimension_path(:layout=>false), :class=>"new_setting_link"  %>
  </div>  

  <div id = "question_ms_container" class="multiselect-container span4 offset2 well" style="max-height:375px">
    <h3>Preguntas</h3>
    <%=f.collection_select :question_ids, Question.all, :id, :description, {}, {:multiple=>true,:name=>"research[question_ids][]"}%></br>
    <%=link_to "Agregar nueva variable", new_question_path(:layout=>false), :class=>"new_setting_link"  %>
  </div>  

</div>