<%= form_for @result, :url=>save_answers_research_path do |f| %>
  <%= f.hidden_field :research_id %>
  <fieldset>
    <legend>Resultados</legend>
    <ol class =  "survey">
      <% @research.survey.each do |question| %>
        <li class = "question"><%= question.description %></li>
          <ul class = "options">
            <li class = "options">Muy Malo <%= radio_button :answers, "answer_#{question.id}", 1     %></li>
            <li class = "options">Malo <%= radio_button :answers, "answer_#{question.id}", 2       %></li>
            <li class = "options">Bueno <%= radio_button :answers, "answer_#{question.id}", 3       %></li>
            <li class = "options">Muy Bueno <%= radio_button :answers, "answer_#{question.id}", 4    %></li>
            <li class = "options">Indiferente <%= radio_button :answers, "answer_#{question.id}", 0  %></li>
          </ul>
      <% end %>
    </ol>
  </fieldset>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),researches_path, :class => 'btn' %>
  </div>
<% end %>