<%= render "/shared/gchart_load" %>
<div class="page-header">
  <h1>Employees</h1>
</div>
<div class = "row">
  <div class = "col-md-12">
    <div class="panel panel-default data-window collapse-group" id = "new-research" >
      <header class="panel-heading">
        <h4>Evaluaciones Realizadas por los empleados</h4>
      </header>
      <div class="panel-body" id = "new-research-form">
        <%= datatable @evaluations, [:name, :email, :has_evaluated_research, "" ], {} do |evaluation, column_names| %>
          <td><%=evaluation.employee.name%></td>
          <td><%=evaluation.employee.email%></td>
          <td>
            <% if evaluation.done %>
              <span class="label label-success">Si</span>
            <% else %>
              <span class="label label-danger">No</span>
            <% end %>
          </td>
          <td>
            <% if !evaluation.done and evaluation.access_sent < (Date.today -15.days)  %>
              <%= link_to "#", class: "btn btn-info btn-xs"  do%>
                <span class = "glyphicon glyphicon-envelope"></span> Enviar Recordatorio
              <% end %>
            <% end %>

            <% if !evaluation.done and evaluation.access_token.nil? %>
              <%= link_to "#", class: "btn btn-primary btn-xs"  do%>
                <span class = "glyphicon glyphicon-repeat"></span> Reactivar Evaluacion
              <% end %>
            <% end %>
          </td>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="page-header">
	<h1>Reports</h1>
	<%= link_to "Generar Otros reportes", new_report_path(id: @research.id), :class => 'btn btn-primary new-btn' %>
</div>
<div class = "row">
  <div class = "col-md-6">
    <%= gchart_window({object: @research,data_method: @research.total_perception[:results], chart_type: :pie, window_title: "Resultados Globales", render_with_link: false}, {title: "Datos Globales de la percepcion de clima organizacional"}) %>
  </div>

  <div class = "col-md-6">
    <%= gchart_window( {object:@research,data_method: @dimensions_reports, chart_type: :column, report_type: :global_dimensions, window_title: "Resultados por Dimension", render_with_link: false}, {title: "Resultados por dimensiones", hAxis: {title: 'Dimensiones', gridlines: { count: @dimensions_reports.last.first }}}) %>
  </div>
	<div class = "col-md-12">
    <%= gchart_window( {object:@research,data_method: @demographic_reports, report_type: :global_dimensions, chart_library: :easy_piecharts, more_reports: true, window_title: "Resultados por Variables Demograficas", render_with_link: false} ) %>
	</div>
</div>