<%- model_class = Dimension -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
  <%= link_to "Nueva Dimension",new_dimension_path, :class => 'btn btn-primary new-btn' %>
</div>
<%= datatable @dimensions, [:name,:is_active, ""] do |dimension, column_names|%>
  <td><%= dimension.name %></td>
  <td>
    <% if dimension.is_active %>
      <span class="label label-success">Si</span>
    <% else %>
      <span class="label label-danger">No</span>
    <% end %>
    <%=  %>
  </td>
  <td class = "action-links">
    <%= link_to edit_dimension_path(dimension), title:"Editar" do %>
      <span class = "glyphicon glyphicon-edit"></span>
    <% end %>
    <%= link_to dimension_path(dimension),:method => :delete,:data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, title:"Eliminar"  do %>
      <span class = "glyphicon glyphicon-trash"></span>
    <% end %>
  </td>
<% end %>