<% data = data_method.class == Symbol ? object.send(data_method) : data_method %>
<div class="panel panel-default data-window collapse-group" id = "window-<%= window_id %>">
  <header class="panel-heading">
    <% if render_with_link %>
      <%= link_to research_path id: object.id do %>
        <h4><%=  window_title %></h4>
      <% end %>
    <% else %>
      <h4><%=  window_title %></h4>
    <% end %>
    <nav class = "windows-commands pull-right">
      <% case window_type %>
      <% when :home %>
        <%= render partial: "/shared/home_chart_options_command_dropdown", locals:{object: object } %>
      <% when :report %>
        <%= render partial: "/shared/reports_chart_options_command_dropdown", locals:{object: object, report_type: report_type} %>
      <% when :info %>
        <%= render partial: "/shared/home_options_command_dropdown", locals:{object: object} %>
      <% end %>
      <a href="" class = "command minimize" data-toggle="collapse" data-parent="#window-<%= window_id %>" href="#window-content-<%= window_id %>"><span class = "glyphicon glyphicon-minus"></span></a>
      <a href="" class = "command dismiss" ><span class = "glyphicon glyphicon-remove-circle"></span></a>
    </nav>
  </header>
  <div class="panel-body window-content in collapse" <%= chart_height > 300 ? "style=max-height:620px;" : "" %> id = "window-content-<%= window_id %>">
    <% unless window_type == :info %>
      <% case chart_library%>
        <%when :gcharts %>
          <%= gchart window_id, chart_type ,data,false ,chart_options, chart_height%>
          <!--Chart for download in png-->
          <%= gchart window_id, chart_type ,data, true,chart_options,chart_height%>
        <%when :easy_piecharts%>
          <%= render partial: "/shared/easy_piecharts", locals:{chart_data: data, more_reports: more_reports} %>
      <% end %>
    <% else %>
        <div class = "general-info">
          <div class = "info-container">
            <div class = "row">
              <div class = "col-md-5 info-label">id: </div>
              <div class = "col-md-6"><%= object.id %> </div>
            </div>
            <div class = "row">
              <div class = "col-md-5 info-label">Fecha de inicio: </div>
              <div class = "col-md-6"> <%= object.start_date.strftime("%A, %d de %B de %Y") %> </div>
            </div>
            <div class = "row">
              <div class = "col-md-5 info-label">Fecha de fin: </div>
              <div class = "col-md-6"> <%= object.end_date.strftime("%A, %d de %B de %Y") %> </div>
            </div>
            <div class = "row">
              <div class = "col-md-5 info-label">Estado: </div>
              <div class = "col-md-6"> <span class = "label label-<%= object.state_label_color  %>"><%= object.state_label %></span> </div>
            </div>
          </div>
          <div class = "command-options">
            <%= link_to confirm_research_path(id: object.id), class: "btn btn-success btn-command", method: :put do %>
              <span class = "glyphicon glyphicon-ok"></span> Confirmar
            <% end %>

            <%= link_to edit_research_path(id: object.id), class: "btn btn-primary btn-command" do %>
              <span class = "glyphicon glyphicon-edit"></span> Editar
            <% end %>

            <%= link_to research_path(id: object.id), class: "btn btn-danger btn-command", method: :delete do %>
              <span class = "glyphicon glyphicon-trash"></span> Eliminar
            <% end %>

          </div>
        </div>
    <% end %>
  </div>
</div>