<div class = "dropdown command options">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class = "glyphicon glyphicon-th"></span></a>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
    <li>
      <%= link_to new_research_result_path(research_id: object.id) do %>
        <span class = "glyphicon glyphicon-plus"></span> Agregar Resultado
      <% end %>
    </li>
    <li>
      <%= link_to survey_research_path(id:object.id, format: :pdf), target: "_blank" do %>
        <span class = "glyphicon glyphicon-print"></span> Cuestionario
      <% end %>
    </li>
    <li>
      <%= link_to report_global_research_path(id:object.id, format: :xls), target: "_blank" do %>
        <span class = "glyphicon glyphicon-download-alt"></span> Exportar Datos a Excel
      <% end %>
    </li>
    <li class = "divider"></li>
    <li>
      <%= link_to research_path(id:object.id) do %>
        <span class = "glyphicon glyphicon-tasks"></span> Reportes
      <% end %>
    </li>
    <li>
      <%= link_to research_results_path(research_id: object.id) do %>
        <span class = "glyphicon glyphicon-list-alt"></span> Resultados
      <% end %>
    </li>
  </ul>
</div>