<aside id = "side-menu" class = "left-menu">
  <div class="panel-group" id="nav-accordion">
    <!--Inicio-->
    <div class="panel panel-default">
      <div class="panel-heading">
        <a data-toggle="collapse" data-parent="#nav-accordion" href="#dashboard">
          <h4 class="panel-title"><span class="fa fa-home"></span> Inicio </h4>
        </a>
      </div>
      <div id="dashboard" class="panel-collapse collapse <%= @selected_option == "home-option" ? "in" : "" %>">
        <div class="panel-body">
          <ul>
            <li><%= link_to "Organizaciones", organizations_path %></li>
            <li><%= link_to "Estudios Recientes", researches_path %></li>
            <li><%= link_to "Nuevo Estudio", new_research_path %></li>
            <li><%= link_to "Generar Reporte","#org_selection",data:{url:new_custom_report_path,toggle:"modal"} %></li>
          </ul>
        </div>
      </div>
    </div>

    <!--Variables Demograficas-->
    <div class="panel panel-default">
      <div class="panel-heading">
        <a data-toggle="collapse" data-parent="#nav-accordion" href="#demo_vars">
          <h4 class="panel-title"><span class = "fa fa-group"></span> Variables Demograficas</h4>
        </a>
      </div>
      <div id="demo_vars" class="panel-collapse collapse <%= @selected_option == "demo-vars-option" ? "in" : "" %>">
        <div class="panel-body">
          <ul>
            <li><%= link_to "Variables por Defecto", demographic_variables_path %></li>
            <li><%= link_to "Nueva Variable por Defecto", new_demographic_variable_path %></li>
          </ul>
        </div>
      </div>
    </div>

    <!--Dimensiones-->
    <div class="panel panel-default">
      <div class="panel-heading">
        <a data-toggle="collapse" data-parent="#nav-accordion"  href="#dimensions">
          <h4 class="panel-title"><span class = "fa fa-cubes"></span> Dimensiones</h4>
        </a>
      </div>
      <div id="dimensions" class="panel-collapse collapse <%= @selected_option == "dimension-option" ? "in" : "" %>">
        <div class="panel-body">
          <ul>
            <li><%= link_to "Dimensiones Por Defecto", dimensions_path %></li>
            <li><%= link_to "Nueva Dimension Por Defecto", new_dimension_path %></li>
          </ul>
        </div>
      </div>
    </div>

    <!--Configurariones-->
    <div class="panel panel-default">
      <div class="panel-heading">
        <a data-toggle="collapse" data-parent="#nav-accordion"   href="#settings">
          <h4 class="panel-title"><span class = "fa fa-cog"></span> Configuraciones</h4>
        </a>
      </div>
      <div id="settings" class="panel-collapse collapse <%= @selected_option == "settings-option" ? "in" : "" %>">
        <div class="panel-body">....</div>
      </div>
    </div>
  </div>
</aside>