<%content_for :error_messages do  %> 
  <%= error_messages! @result%>
<%end%> 
<%= form_for @result, url:research_application_results_path(research_id:@research.id,application_id: @application.id) do |f| %>
  <%= f.hidden_field :research_id %>
  <%= f.hidden_field :research_application_id %>
  <fieldset class="demographic_variables" class="">
    <legend>Datos personales</legend>
    <div class="row">
      <%= f.fields_for :demographic_values do |b|%>
        <%= render "fields_for_variables", f: b %>
      <% end %>
    </div>
  </fieldset>
  <fieldset class = "results">
    <legend>Resultados</legend>
    <table class="table survey">
      <thead>
        <tr>
          <th>Pregunta</th>
          <th>Nada</th>
          <th>Poco</th>
          <th>Bastante</th>
          <th>Muchisimio</th>
          <th>No Aplica</th>
        </tr>
      </thead>
      <%= f.fields_for :answers do |b| %>
        <%= b.hidden_field :question_id %>
        <tr>
          <td><%= b.object.question.description %></td>
          <td><%= b.radio_button :value, 1,:class=>"survey_answer"%></td>
          <td><%= b.radio_button :value, 2,:class=>"survey_answer"%></td>
          <td><%= b.radio_button :value, 3,:class=>"survey_answer"%></td>
          <td><%= b.radio_button :value, 4,:class=>"survey_answer"%></td>
          <td><%= b.radio_button :value, 0,:class=>"survey_answer"%></td>
        </tr>
      <% end %>
    </table>
  </fieldset>
  <div class="form-actions">
    <%= submit_tag "Guardar resultados", :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),researches_path, :class => 'btn' %>
  </div>
<% end %>