<%- model_class = Result -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
  <%= link_to t('.new', :default => "Nuevo Resultado"),new_research_result_path(research_id:@research.id), class: "btn btn-primary new-btn"%>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Boleta</th>
      <th>Satisfactorio</th>
      <th>Insatisfactorio</th>
      <th>Indiferente</th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @results.each do |result| %>
      <tr>
        <td><%= link_to result.correlative, edit_research_result_path(id: result.id, research_id:@research.id) %></td>
        <td><%= result.likeable_percentage %>%</td>
        <td><%= result.unlikeable_percentage %>%</td>
        <td><%= result.indiferent_percentage %>%</td>
        <td><%=l result.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_research_result_path(id: result.id, research_id:@research.id), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      research_result_path(id: result.id, research_id:@research.id),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>