<%demographic_type||="boolean"%>
<div id = "boolean-display" class="col-sm-10 admin-dsiplay-values <%="selected" if demographic_type == "boolean"%>">
	<%=text_field_tag("display_values_boolean_true", @demographic_variable.true_boolean_value, :class => "boolean-field form-control")%> |
	<%=text_field_tag("display_values_boolean_false", @demographic_variable.false_boolean_value, :class => "boolean-field form-control")%><br/>
	  <p class = "example-field">Ej:Maculino-Femenino</p>
</div>

<div id = "hash-display" class="col-sm-10 admin-dsiplay-values <%="selected" if demographic_type == "hash"%>">
	<%=text_field_tag("display_values_hash", @demographic_variable.hash_value, :class => "hash-field form-control")%><br/>
	<p class = "example-field">Ej: "RRHH":"Recursos Humanos","AUI":"Auditoria Interna"</p>
</div>