<%edit||=false%>
<%content_for :error_messages do  %> 
  <%= error_messages! @demographic_variable%>
<%end%>
<%url ||=demographic_variables_path%>
<%= form_for @demographic_variable, :url=>url,:html => { :class => "form-horizontal #{!@layout ? "modal_form" :""}", :id=>"#{edit ? "edit_demographic_variable" : "new_demographic_variable"}" }, :remote=>!@layout do |f| %>
  <div class="<%=@layout ? "form" : "modal" %>-body">
    <%if !@layout %>
      <div id = 'modal_errors'></div>
    <%end%>
    <div class="control-group">
      <%= f.label :name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :is_default, :class => 'control-label' %>
      <div class="controls">
        <%= f.check_box :is_default, :class => 'check_box' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :accepted_value, :class => 'control-label' %>
      <div class="controls">
        <%= f.select :accepted_value,DemographicVariable.demographic_types.collect{|k,v| [v,k]}, :class => 'text_field' %>
      </div>
    </div>
    <%= hidden_field_tag("modal", true) if !@layout%>
    <div class="control-group">
      <%= f.label :display_values, :class => 'control-label' %>
      <%=f.hidden_field :display_values%>
      <%= render :partial=> "display_values_inputs", :locals=>{:demographic_type=>@demographic_variable.accepted_value}%>
    </div>
  </div>
  <%if @layout%>
    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),demographic_variables_path, :class => 'btn' %>
    </div>
  <%end%>
<% end %>
