<%edit||=false%>
<%content_for :error_messages do  %> 
  <%= error_messages! @demographic_variable%>
<%end%>
<%url ||=demographic_variables_path%>
<%= form_for @demographic_variable, :url=>url,:html => { :class => "form-horizontal #{!@layout ? "modal_form" :""}", :id=>"#{edit ? "edit_demographic_variable" : "new_demographic_variable"}" }, :remote=>!@layout do |f| %>
  <div class="<%=@layout ? "form" : "modal" %>-body">
    <%if !@layout %>
      <div id = 'modal_errors'></div>
    <%end%>

    <div class="form-group">
      <%= f.label :name, :class => 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.text_field :name, :class => 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :accepted_value, :class => 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.select :accepted_value,DemographicVariable.demographic_types.collect{|k,v| [v,k]}, :class => 'form-control' %>
      </div>
    </div>
    
    <%= hidden_field_tag("modal", true) if !@layout%>
    
    <div class="form-group">
      <%= f.label :display_values, :class => 'col-sm-2 control-label' %>
      <%=f.hidden_field :display_values%>
      <%= render :partial=> "display_values_inputs", :locals=>{:demographic_type=>@demographic_variable.accepted_value}%>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
          <%= f.label :is_default do %>
            <%= f.check_box :is_default, :class => 'check_box' %> Default
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <%if @layout%>
    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),demographic_variables_path, :class => 'btn' %>
    </div>
  <%end%>
<% end %>
