<%- model_class = DemographicVariable -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
  <%= link_to "Nueva Variable Demografica", new_demographic_variable_path, :class => 'btn btn-primary new-btn' %>
</div>
<%= datatable @demographic_variables, [:name,:is_active,:accepted_value,:display_values, "" ] do |demographic_variable, column_names| %>
  <td><%= demographic_variable.name.titleize %></td>
  <td>
    <% if demographic_variable.is_active %>
      <span class="label label-success">Si</span>
    <% else %>
      <span class="label label-danger">No</span>
    <% end %>
    <%=  %>
  </td>
  <td><%= demographic_variable.accepted_value %></td>
  <td><%= demographic_variable.display_values %></td>
  <td class = "action-links">
    <%= link_to edit_demographic_variable_path(demographic_variable), title:"Editar" do %>
      <span class = "glyphicon glyphicon-edit"></span>
    <% end %>
    <%= link_to demographic_variable_path(demographic_variable),:method => :delete,:data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, title:"Eliminar"  do %>
      <span class = "glyphicon glyphicon-trash"></span>
    <% end %>
  </td>
<% end %>