<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <%unlikable_tot = 0%>
    <%likeable_tot = 0%>
    <%indiferent_tot = 0%>
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Dimension</Data></Cell>
        <Cell><Data ss:Type="String">Insatisfactorio</Data></Cell>
        <Cell><Data ss:Type="String">Satisfactorio</Data></Cell>
        <Cell><Data ss:Type="String">Indiferente</Data></Cell>
      </Row>
      <% @data.values.each do |value| %>
        <Row>
          <Cell><Data ss:Type="String"><%= value[:dimension].name %></Data></Cell>
          <Cell><Data ss:Type="Number"><%= value[:results][:unlikable] %></Data></Cell>
          <Cell><Data ss:Type="Number"><%= value[:results][:likeable]   %></Data></Cell>
          <Cell><Data ss:Type="Number"><%= value[:results][:indiferent] %></Data></Cell>
          <%unlikable_tot +=  value[:results][:unlikable] %>
          <%likeable_tot +=   value[:results][:likeable]  %>
          <%indiferent_tot += value[:results][:indiferent]%>
        </Row>
      <% end %>
      <Row>
          <Cell><Data ss:Type="String">Total</Data></Cell>
          <Cell><Data ss:Type="Number"><%= unlikable_tot %></Data></Cell>
          <Cell><Data ss:Type="Number"><%= likeable_tot   %></Data></Cell>
          <Cell><Data ss:Type="Number"><%= indiferent_tot %></Data></Cell>
      </Row>
    </Table>
  </Worksheet>
</Workbook>