<div class="page-header">
  <h1>Patametros del reporte</h1>
</div>

<div class="row report-parameters-builder">
  <%= form_for @report, url: reports_path(id: @research.id), html:{class: "form-inline"} do |f| %>
    <div class="col-md-6">
      <div class = "row report-parameters">
        <div class = "col-md-6 dimension-params">
          <%= f.label :dimension_ids, "Dimensiones" ,class: "checkbox" %>
          <%= f.collection_select(:dimension_ids, @dimensions, :id, :name,prompt: "Dimensiones a filtrar") %>
        </div>
        <div class = "col-md-6 question-params">
          <%= f.label :show_questions, class: "checkbox" do %>
            <%= f.check_box :show_questions, class: "parrameter-switch", data:{toggle: "#demographic-parameters"}  %>
            Por Preguntas
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class "row  report-parameters">
        <div class = "col-md-4" style = "margin-bottom:10px">
          <%= f.label :demographic_variable_ids, "Variables Demograficas" ,class: "checkbox" %>
          <%= f.fields_for :query, @report.query do |b|%>
            <%= b.hidden_field :condition_value%>
            <%= b.hidden_field :variable_type %>
            <%= b.hidden_field :condition_value_label %>
          <% end %>
          <%= f.collection_select(:demographic_variable_ids, @demographic_variables, :id, :name,{prompt: "Variable a filtrar"},data:{variable_types: @variable_types}) %>
        </div>
        <div class = "col-md-4 demographic-params">
          <% selected_values = @demographic_variables.select{|v| @report.demographic_variable_ids.include?(v.id.to_s)}.map{|v| v.accepted_value}%>
          <% @variable_types.values.each do |queryable_value| %>
            <%=filter_field(queryable_value.first,queryable_value.last,@report.query.variable_type,@report.query.condition_value)%>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-2" style = "padding-top:10px">
      <%= f.submit "Generar Reportes", class: "btn btn-primary" ,:disable_with => 'Generando Reportes...' %>
    </div>
  <% end -%>
</div>
<% if @report_params %> 
  <%= render "/shared/gchart_load" %>
  <div id="report-results" class = "row">
    <div class = "col-md-10">`
      <%= gchart_window( @report_params[:window_params], @report_params[:chart_params]) %>
    </div>
  </div>
<% end %>

